.class_1 {
    background-color: aquamarine;
}
.class_2 {
    background-color: rebeccapurple;
}
.class_3 {
    background-color: royalblue;
}
.class_4 {
    background-color: red;
}
.class_hover {
    color: aqua;
}